<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="LumaStore">
	
	<listeners>
		<listener class-name="com.luma.utility.Reporting" />
	</listeners>
	
	<test name="Luma Store Test">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="com.luma.testcases.TC_IndexPageTest" />
			<class name="com.luma.testcases.TC_LoginPageTest" />
			<class name="com.luma.testcases.TC_HomePageTest" />
			<class name="com.luma.testcases.TC_SearchResultPageTest" />
			<class name="com.luma.testcases.TC_ShoppingCartPageTest" />
			<class name="com.luma.testcases.TC_MyWishListPageTest" />
			<class name="com.luma.testcases.TC_CheckoutPageTest" />
		</classes>

	</test>

</suite>